[bumpversion]
current_version = 1.6.6
commit = False
tag = False
extra_files = RELEASE_NOTES.md

[bumpversion:file:plugin.json]
search = "version": "{current_version}"
replace = "version": "{new_version}"

[bumpversion:file:server.json]
search = {current_version}
replace = {new_version}
